td{
    vertical-align: middle;
  }

.pagination li a{
  color: red;
}

.pagination li a:focus,
.pagination li a:hover{
    color: red;
}

.pagination button{
  background-color: red;
  border-color: red;
}

.pagination .page-item.active .page-link{
  background-color: red;
  border-color: red
}