td{
    vertical-align: middle;
  }

.pagination li a{
  color: #982E32;
}

.pagination li a:focus,
.pagination li a:hover{
    color: #982E32;
}

.pagination button{
  background-color: #982E32;
  border-color: #982E32;
}

.pagination .page-item.active .page-link{
  background-color: #982E32;
  border-color: #982E32;
}